DATABASE_URL="postgresql://postgres:YOUR_DATABASE_PASSWORD@db.cftsstvxulxtyaejjxhc.supabase.co:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres.cftsstvxulxtyaejjxhc:YOUR_DATABASE_PASSWORD@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"
ADMIN_EMAIL="admin@statybos.lt"
ADMIN_PASSWORD="admin123"
AUTH_SECRET="pakeiskite-ilgu-atsitiktiniu-raktu"
